.square{
    width: 100px;
    height: 100px;
    background-color: #42405e;
    cursor: pointer;
    outline: none;
    border: 3px solid #a954c2;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c5c5c5;
}

.square:hover{
    background-color: #f0f0f0;
    transition: 2s all ease;
}